<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Magic</title>
</head>

<body>

	<h1>Web Roman to Number !</h1>

	<form name="">
		Entrez un chiffre romain
		<input name="" type="text" size="10" maxlength="50"/>
		<input type="submit" value="Transformer">
	</form>
	
	<p>Chiffres arabe =</p>
	
</body>

</html>